
<style>
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 5px;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.small {
  font-size: 0.5em;
}

.paper-title {
  color: #606c71;
  margin-bottom: 1rem;
  display: block;
}
</style>


<div class="card mb-3" style="max-width: 1080px;">
<a href="{{include.url}}" style="text-decoration:none;color:inherit;">
  <div class="row no-gutters">
    <div class="col-md-4 my-auto">
	    <img src="{{include.img}}" class="card-img">
    </div>

    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{include.title}}</h5>
        <div class="card-text">	
          {% if include.type == "bulletlist" %}
            <ul>
            {% assign bullets = include.brief | split: ";" %}
            {% for bullet in bullets %}
                <li> {{bullet}} </li>
            {% endfor %}
            </ul>
          {% elsif include.type == "description" %}
          {% assign lines = include.brief | split: ";" %}
          {% for line in lines %}
              {{line}}<br>
          {% endfor %}
          {% else %}
              ERROR: card type attribute is not set
          {% endif %}
        </div>
      </div>
    </div>
    {% if include.star == "yes" %}
    <div class="col-md-1 my-auto">
      <img src="/assets/images/star.png" class="card-img" style="width: 30%">
    </div>
    {% endif %}
  </div>
</a>
</div>
