<div class="card mb-3" style="max-width: 1080px;">
<a href="{{include.url}}" style="text-decoration:none;color:inherit;">
  <div class="row no-gutters">
    <div class="col-md-4">
	    <img src="{{include.img}}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
	<h5 class="card-title">{{include.title}}</h5>
	<div class="card-text">	
	{% if include.type == "bulletlist" %}
            <ul>
                {% assign bullets = include.brief | split: ";" %}
	        {% for bullet in bullets %}
	            <li> {{bullet}} </li>
	        {% endfor %}
            </ul>
	{% elsif include.type == "description" %}
            {% assign lines = include.brief | split: ";" %}
	    {% for line in lines %}
	        {{line}}<br>
	    {% endfor %}
	{% else %}
	    ERROR: card type attribute is not set
	{% endif %}
	</div>
      </div>
    </div>
  </div>
</a>
</div>
