<style>
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.card_inner {
  display:flex;
 }

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_excerpt {
  padding-left: 20px;
  width: 60%;
}

.card_image {
  width: 40%;
  clear:both;
}
</style>

<div>
<a href="{{include.url}}" style="text-decoration:none;color:inherit;">
<div class="card">
    <h3><b>{{include.title}}</b></h3>
    <div class="card_inner">
	{% if include.img != "" or include.img == blank %}
        <div class="card_image"> <img src="{{include.img}}"/> </div>
        <div style="padding-left:20px;width:60%">
	{% else %}
        <div style="padding-left:20px;width:100%;padding-right:20px">
        {% endif %}
        
	{% if include.type == "bulletlist" %}
            <ul>
                {% assign bullets = include.brief | split: ";" %}
	        {% for bullet in bullets %}
	            <li> {{bullet}} </li>
	        {% endfor %}
            </ul>
	{% elsif include.type == "description" %}
            {% assign lines = include.brief | split: ";" %}
	    {% for line in lines %}
	        {{line}}<br>
	    {% endfor %}
	{% else %}
	    ERROR: card type attribute is not set
	{% endif %}
        </div>
    </div>
</div>
</a>
</div>
