<div class="row">
    <div class="col-12 d-none d-lg-block"> <!--Visible from lg and above-->
        <h3> Contacts</h3>
    </div>
    <div class="col-12 d-lg-none"> <!--Visible from md and below-->
        <h3> Contacts</h3>
    </div>
    
    <div class="col-12">
        For website-related messages such as <b>questions</b>,
        <b>collaborations</b> or <b>suggestions</b> you can write
        us <a href="mailto:ai.campus.ai@gmail.com">here</a> 
        or (preferably) directly open an issue to the website's 
        <a href="https://github.com/CampusAI/CampusAI.github.io">repo</a>.
        Please do not hesitate in providing feedback!
    </div>
</div>

