{% if include.zoom != "" and include.zoom != blank %}
<style>
.zoomed_img {
  transition: transform .2s; /* Animation */
}
.zoomed_img:hover {
	transform: scale({{include.zoom}});
}
</style>
{% endif %}

<figure class="figure text-center mx-auto d-block">
  <img class="zoomed_img figure-img img-fluid rounded"
  src="{{ include.url }}" alt="{{ include.description }}"
  style="display:block;margin-left:auto;margin-right:auto; width: {{include.width}}%">
  <figcaption class="annotation">{{include.description}}</figcaption>
</figure>
