<div class="container-fluid" style="padding: 0px;">
  <div class="row" markdown="1">
    <div class="col">
      <nav class="navbar navbar-expand-md bg-light navbar-light py-2">
	<a class="navbar-brand" href="/" style="font-size: 1.7em; padding-left: 30px;">CampusAI</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="padding-right: 30px; font-size: 1.3em;">
            <li class="nav-item active" style="padding-right: 30px;">
              <a class="nav-link" href="/ml">ML</a>
            </li>
            <li class="nav-item active" style="padding-right: 30px;">
              <a class="nav-link" href="/theory">RL</a>
            </li>
            <li class="nav-item active" style="padding-right: 30px;">
              <a class="nav-link" href="/papers">Papers</a>
            </li>
            <li class="nav-item active" style="padding-right: 30px;">
              <a class="nav-link" href="/experiments">Experiments</a>
            </li>
	  </div>
        </ul>
      </nav>
    </div>
  </div>
</div>

