<style>
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 5px;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.small {
  font-size: 0.5em;
}

.paper-title {
  color: #606c71;
  margin-bottom: 1rem;
  display: block;
}
</style>


<div class="card" style="width: 100%; margin-bottom: 1rem;">
<a href="{{include.url}}" style="text-decoration:none;color:inherit;"> 
  <div class="card-body" style="padding: 0.5rem">
    <h5 class="card-title">{{include.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{include.subtitle}}</h6>
  </div>
</a>
</div>
