---
layout: default
---
<style>
.text-justify {
  text-align: justify;
}
.opaque {
  opacity: 0.8
}
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160601102-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-160601102-1');
</script>


<div class="container-fluid">
    <div class="row" style="padding-top: 20px;">
        <div class="col-xl-3 col-0"> <!-- sidebar -->
		{% if page.index != false %}
		    {% include sidebar.html %}
		{% endif %}
        </div>

        <div class="col-xl-6 col-12">
            <h1>{{ page.title }}</h1>
            <div class="opaque col-auto">
                Lecture by {{page.lecture-author}}, {{page.lecture-date}},
                <a href="{{page.slides-link}}">Slides</a>, <a href="{{page.video-link}}">Video</a>
            </div>
            <div class="opaque col-auto"> Post author: {{page.post-author}} </div>
        </div>
    </div>

    <br>

    <div class="row" id="content-row">
        <div class="col-auto">
            {{content}}
        </div>
    </div>

</div>

