---
layout: default
---
<style>
.text-justify {
  text-align: justify;
}
.opaque {
  opacity: 0.8
}
</style>

<div class="container-fluid">
    <div class="row" style="padding-top: 20px;">
        <div class="col-xl-3 col-0"> <!-- sidebar -->
		{% if page.index != false %}
        <br>
        <br>
        <br>
		    {% include sidebar.html %}
		{% endif %}
        </div>

        <div class="col-xl-6 col-12 roboto-regular">
            <h1>{{ page.title }}</h1>
            <div class="opaque col-auto">
                Lecture by {{page.lecture-author}}, {{page.lecture-date}},
                <a href="{{page.slides-link}}">Slides</a>, <a href="{{page.video-link}}">Video</a>
            </div>
            <div class="opaque col-auto"> Post author: {{page.post-author}} </div>
        </div>
    </div>

    <br>

    <div class="row" id="content-row">
        <div class="col-auto">
            {{content}}
	    {% include start-row.html %}
	    {% include disqus.html %}
	    {% include end-row.html %}
        </div>
    </div>

</div>

