---
layout: default
---
<style>
.text-justify {
  text-align: justify;
}
.opaque {
  opacity: 0.8
}
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160601102-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-160601102-1');
</script>

<h1>{{ page.title }}</h1>
<div class="opaque"> Lecture by {{page.lecture-author}}, {{page.lecture-date}}, <a href="{{page.slides-link}}">Slides</a>, <a href="{{page.video-link}}">Video</a>, <a href="/lectures/basic_concepts">Basics</a> </div>
</div>

<br>
<div class="text-justify">{{ content }}</div>
