---
layout: default
---
<style>
.opaque {
  opacity: 0.8
}
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160601102-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160601102-1');
</script>


<!-- Here starts the HTML  -->

<div class="container-fluid">

<!-- First row: sidebar and title -->
    <div class="row" style="padding-top: 20px;">

        <div class="col-sm-2 offset-sm-1"> <!-- Sidebar -->
	    <div class="container">
                <nav class="d-none d-md-block" id="toc" style="position: fixed;"></nav>
	    </div>
	</div>

        <div class="col-sm-6"> <!-- Title, subtitle, etc-->
            <h1>{{ page.title }}</h1>
            <div class="col-auto opaque">
                Paper authors: {{page.paper-author}}, {{page.paper-year}},
		<a href="{{page.paper-link}}">Link to paper</a>
            </div>
            <div class="col-auto opaque"> Post author: {{page.post-author}} </div>
	</div>
        
	<div class="col-sm-3"></div> <!-- Right spacing -->
    </div>

<br>

<!-- MAIN CONTENT -->
<!-- Be careful: the content must manage the space by itself -->
       {{content}}

</div> <!-- End of container -->

<script>
$(function() {
  var navSelector = "#toc";
  var $myNav = $(navSelector);
  Toc.init($myNav);
  $("body").scrollspy({
    target: navSelector
  });
});
</script>
